/* Line 1 */

.div1 {
    background-color: #000;
}

.div1 h1 {
    color: #fff;
}

.cloud {
    color: #00ffff;
}

/* Line 2 */

.div2 {
    background-color: #663399;
}

.div2 h2 {
    color: #fff;
}

/* Line 3 */

.div3 {
    background-color: #9fc5f8;
}